body {
  background-color: #e6fafc;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(255,255,255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
      "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav{
  color: white;
  background-color: #1f71b8;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  color: white !important; /* Cambia el color del texto a blanco */
  transition: text-decoration 0.3s; /* Agrega una transición para suavizar el efecto de subrayado */
}

.nav-link:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.we {
  padding-inline-start: 3%;
  padding-inline-end: 3%;
}

h1 {
  margin-bottom: 3%;
}

.us {
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}